{{- $hero        := .Site.Params.hero }}
{{- $clientLogos := index $hero "clientlogos" }}
<div class="hero-foot mb-20">
  <div class="container">
    <div class="tabs is-centered subtitle" style="justify-content: center;">
      Diese Projekte haben wir bereits durchgeführt
    </div>
    <div class="tabs is-centered">
      <ul style="gap: 50px">
        {{- range $i, $v := $clientLogos }}
        {{ if $i }}
        <div style="height: 100%; width: 0.2px; border: 0.2px solid #5555;"></div>
        {{ end }}
        <li>
          <a {{ if $v.url }} href="{{ $v.url }}" {{ end }}>
            <img class="partner-logo" src="{{ printf "images/logos/clients/%s" $v.logo | relURL }}">
          </a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>